.HyperMD-task-line {
    color: #f39;
}

.pw-todo-panel {
    font-size: small;
}

.pw-todo-container {
    cursor: pointer;
}

.pw-todo-container:hover {
    background-color: #ddd;
}

.pw-todo-sub-container {
    margin-left: 10px;
}