:root {
    --column-border-color: #ddd;
    --column-border-color--today: #ddd;
    --column-border-color--hover: blue;
}  

.HyperMD-task-line {
    color: #f39;
}

.pw-todo-text-complete {
    text-decoration: line-through;
    display: inline-block;
}

.pw-todo-checkbox {
    /* height: 100%; */
    display: inline-block;
    width: 20px;
}

.pw-todo-text {
    display: inline;
}

.pw-todo-panel {
    font-size: small;
}

.pw-todo-container {
    cursor: pointer;
    /* display: inline; */
    flex-direction: row;
}

.pw-todo-container:hover {
    background-color: #ddd;
}

.pw-todo-sub-container {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #888;
}

.pw-planning--settings {
    display: block
}

.pw-planning--settings--search {
    display: inline-block;
    margin-left: 20px;
}

.pw-planning--settings--wip {
    display: inline-block;
    margin-left: 20px;
}

.pw-planning--settings--hide-checkbox {
    display: inline-block;
}

.pw-planning-column {
    width: 260px;
    margin: 5px;
    display: inline-block;
    height: 260px;
}

.pw-planning-column-title { 
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.pw-planning-column-title-icon { 
    margin-right: 10px;
}

.pw-planning-column-content {
    padding: 8px;
    font-size: .8em;
    border: 1px solid var(--column-border-color);
    height: 100%;
    overflow: auto;
    border-radius: 10px;
}

/* TODAY */

.pw-planning-today {
    border: 3px solid var(--column-border-color--today);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.pw-planning-today h1 {
    text-align: center;
    padding-bottom: 15px;
}

.pw-planning-today-icon {
    color: #fc0
}

.pw-planning-column--today {
    width: 30%;
}

.pw-planning-column--today:nth-of-type(1) {
    border-right: 1px solid var(--column-border-color);
}

.pw-planning-column--today:nth-of-type(3) {
    border-left: 1px solid var(--column-border-color);
}

.pw-planning-column-content--today {
    border: 1px solid transparent;
}

.pw-planning-column-content--hover {
    border-color: var(--column-border-color--hover);
}

.pw-planning-column-content--wip-exceeded {
    border: 1px solid #f39;
}

.pw-report {
    overflow: auto;
}

.pw-error {
    color: red
}